* {
  margin: 0;
  padding: 0;
  color: #121C3B;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.Button {
  height: 60px;
  background-color: #F9401C;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 0 40px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

.Button__Icon {
  margin-left: 8px;
}

.Wrapper {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.Main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main__Body {
  flex-grow: 1;
  max-width: 1024px;
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
}

.Main__Middle {
  position: relative;
  margin-bottom: 40px;
}

.Main__Title {
  margin-bottom: 28px;
}

.Main__Hashtag {
  position: absolute;
  top: 145px;
  left: 741px;
  width: 160px;
  border-radius: 50%;
  background-color: #121C3B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.Main__Hashtag:before {
  content:"";
  display: block;
  padding-top: 100%; /* 高さを幅の100%に固定 */
}

.Main__Follow {
  margin-bottom: 40px;
  width: 300px;
}

.Main__Coming {
  margin-bottom: 40px;
  display: block;
}

.Main__Share {
  font-size: 20px;
  font-weight: bold;
}

.Main__Message {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.Footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #121C3B;
}

.Footer__Body {
  padding: 0 40px;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 1024px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Footer__Copy {
  font-size: 18px;
  font-weight: bold;
}

.Footer__EmptySpace {
  flex-grow: 1;
}

.Footer__Link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.Footer__LinkArrow {
  margin-left: 8px;
}

@media screen and (max-width:1024px) {
  .Main__Body {
    max-width: 690px;
    padding: 80px 0;
  }

  .Main__Date {
    width: 61%; /* 207 / 336 */
  }

  .Main__Title > img {
    width: 100%; /* 336 / 336 */
  }

  .Main__Place {
    width: 66%; /* 225 / 336 */
  }

  .Main__Coming {
    width: 100%; /* 336 / 336 */
  }

  .Main__Hashtag {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    width: 24%; /* 82 / 336 */
  }
}

@media screen and (max-width:767px) {
  .Main__Body {
    padding: 60px 20px;
  }

  .Main__Follow {
    margin-bottom: 20px;
    width: 100%;
  }

  .Main__Message {
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 30px;
  }

  .Main__Hashtag {
    font-size: 16px;
  }

  .Footer {
    height: auto;
    padding: 32px;
  }

  .Footer__Body {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .Footer__Copy {
    margin-bottom: 16px;
  }
}
