export ENV=development
export USE_SPANNER=true
export SPANNER_PROJECT_ID=<your GCP Project name place here>
export SPANNER_INSTANCE_ID=<your Spanner instance name place here>
export SPANNER_DATABASE_ID=<your Spanner database name place here>
