.forsp {
  display: none !important;
}

[href]:hover, .hover:hover {
  opacity: 0.6;
}

@media screen and ( max-width:830px) {

.forpc2{
display:inline;
}

}

.entry:hover{
	opacity:1;
	color:#fff;
	}