.forpc {
  display: none!important;
}

.tt_set_left {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.tt_set_right {
  width: 100%;
}

.speaker_set {
  width: 97%;
  margin: 1.5%;
  margin-bottom: 15px;
}



/*subarea*/

.sub_area{
  background: rgba(200, 0, 20, 0.55);
}
.sub_lrs{
  width:100%;
  max-width:600px;
  margin:80px auto 10px;
}
.sub_r{
  float:right;
  min-height:100px;
  width:40%;
}
.sub_l{
  float:right;
  min-height:100px;
    width:60%;
}
.s_map{
  display:block;
width:100%;
max-width:180px;
height:auto;
margin:0 auto;
}

.s_a{
  width:26px;
  height:auto;
  display: block;
}
.s_b{
  width:62px;
  height:auto;
  display: block;
}
.s_c{
  width:40px;
  height:auto;
  display: block;
}
.sub_table td{
vertical-align: middle;
padding:10px 5px;
font-size:13px;
color:#fff;
line-height:160%;
font-weight:bold;
}
.sub_table.sub_table2 td{
padding:1px 5px;
}

.sub_table.sub_table1{
  margin-bottom:20px;
}
.s_5g{
  line-height:160%;
margin:10px 5px;
  font-size:12px;
color:#fff;
font-weight:bold;
}